/*Header*/
header {
    background-color: #2499c7;
    display: flex;
    color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    gap: 10%;
    align-items: center;
}

/*nome*/
header .nome {
    width: 50%;
    text-align: center;
    font-family: 'times';
    font-size: 2em;
    color: #c8edff
}

/*Cadastro*/
header .cadastro {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro img {
    height: 60px;
    width: 70px;
    border-radius: 100px;
}

.cadastro img:hover {
    transform: scale(1.2);
}

/*barra de pesquisa*/
#Busca {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
#Busca input, #Busca2 input {
    border-radius: 10px;
    border: none;
    padding: 8px;
    margin-right: 0px;
}
#btnBusca {/*imagem de busca */
    height: 30px;
    margin-right: 5px;
    display: none;
}

#Busca2{ /*busca 2, só aparece quando vai para a adaptação em celular*/
    margin-top: 40px;
    display: none;
    align-items: center;
}

button {
    font-family: 'monospace';
    font-size: 16px;
    border: none;
    border-radius: 10px;
    width: 60px;
    height: 20px;
    background-color: #a2f1e4;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 4px;
}

button:hover {
    background-color: #0f4966;
    color: aliceblue;
}

/*Navegação*/
.nav ul {
    font-family: 'monospace';
    display: flex;
    list-style: none;
    margin-top: 20;
    background-color: #63d4c5;
    height: 36px;
    display: flex;
    justify-content: center;
}

.nav ul li {
    background-color: #b1f8e3;
    margin: 0 50px;
    padding: 5px;
    height: 25px;
    margin-top: 6px;
    border-radius: 7px;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.ativo {
    text-decoration: underline !important;
}

.nav ul li a:hover {
    transition: 2s;
    margin-top: 5px;
    border-radius: 7px;
    margin: 0 50px;
}

/*logo*/
.logo {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 110px;
    height: auto;
}


/*footer*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #47a598;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

/*Icones*/
.icons img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.icons .Github {
    width: 40px;
    height: 20px;
}

.icons .zapzap {
    width: 25px;
    height: 22px;
}

.icons img:hover {
    transform: scale(1.2);
    /* Aumenta o ícone ao passar o mouse */
}


@media (max-width: 480px) {

    /*itens do header*/

    header {
        gap: 1%;
    }

    header .logo {
        /*logo do site*/
        margin-right: 10px;
        height: 10px;
        width: 120px;
    }

    header .cadastro {
        /*icone de cadastro. vai para o menu hmburguer*/
        display: none;
    }

    header .nome {
        /*nome do site*/
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .nav {
        /*navegação em menu hamburguer*/
        margin-top: 10px;
        display: none;
        flex-direction: column;
        position: absolute;
        background: #333;
        top: 60px;
        right: 0;
        width: 200px;
    }
    .nav .active {
        display: flex;
    }
    .menu-toggle {
        display: flex;
    }
    

    /*coisas fora do header*/

    #Busca {
        display: none;
    }
    #Busca2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #Busca input, #Busca2 input {
     width: 60%;
    }
    #btnBusca {/*imagem de busca */
        height: 40px;  
        display: flex;
    }
}