* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;}

/*Corpo da página*/
body {
    width: 100%;
    background: aliceblue;
    /*background: rgb(206, 247, 255);
    background: linear-gradient(0deg, rgba(206, 247, 255, 1) 0%, rgba(220, 255, 233, 1) 100%);*/
    background-repeat: no-repeat;
    background-size: cover;
}
/*gif*/
.gif {
    filter: brightness(70%);
    height: 570px;
    width:100%;
    text-align: center;
    margin-top:-29px;
}


.main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

/*Área de criar Fórum*/
.content {
    width: 30%;
}

/*Fórum*/
h1 {
    text-align: center;
    margin-bottom: 10px;
    
    }

form {
    background-color: #ffffff;
    width: 80%;
    height: 40%;
    padding: 8%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 9%;

}

/*input do form1*/
#phone {
    margin: 1%;
    width: 100%;
}

/*textearea do form1*/
#w3review {
    width: 98%;
}

h1 {
    text-align: center;
    margin-bottom: 10px;

}

.título {
    position: relative;
    left: 8%;
  
}

/*Botão do Fórum*/
.button {
    background: #13e200;
    padding: 1px;
    height: 78%;
    width: 40%;
    margin: 5%;
    border-radius: 8px;
    margin: 2%;
    position: relative;
    cursor: pointer;
    border: none;

}

.div-btn {
    width: 90%;
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*Área de comentários*/
.feed {
    width: 50%;

}

/*Comentários*/
.comment {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px;

    height: 180px;
    width: 100%;


}



.name {
  
    margin-left: 10px;

}

p {
    font-size: 14px;

}

.comment-body {
    font-size: 1em;
    line-height: 1.5;
    margin: 1%;

}

.comment-header {
    display: flex;
    justify-content: space-between;
    height: 50px;

}

.comment-header div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.name {
    margin-left: 10px;
}

/*Data*/
.comment-date {
    font-size: 0.9em;
    color: #666;
    display: flex;
    justify-content: end;
    align-items: center;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    height: 50px;

}
/*ícone dos comentários*/
.material-icons {
    color: #666;
    position: relative;
    left: 90%;
    padding: 4px;
}

/*caixa de resposta*/
.form2 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    height: 190px;
    width: 100%;
    position: relative;
    left: 2%;

}

/*textearea do form2*/
#w3review1 {
    margin: 1%;
    width: 100%;
}

/*botão da caixa de resposta*/
.suggestions {
    height: 60%;
    margin: 6px;
}


/*Responsividade do site*/
@media(max-width: 480px) {

    /*corpo da página*/
    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      
    }

    /*gif*/
    .gif {
        width: 100%;
        height: 50%;
        text-align: center;
    }

    /*form1*/
    .form1 {
        width: 68%;  
    }

 .título{
    font-size: 14px;
 }

 /*input do fórum*/
    #phone {

        font-size: 12px;
        height: 6%;
        width: 79%;
        position: relative;
        left: 6%;
        right: 4.0%;
    }

    /*textarea do fórum*/
    #w3review1 {
        height: 50%;
        width: 79%;
        margin: 2%;
        position: relative;
        left: 6%;
    }

     /*comentários*/

    .comentários{
      margin-top: 13%;
    }

    .comment {

        padding: 15px;
        margin: 20px;
        position: relative;
        left: -21%;
        justify-content: center;
        width: 100%;
        height: 261px;
        flex-direction: column;

    }
    
    /*textos dos comentários*/
    .name{
        font-size: 10px;
    }
    strong{
        font-size: 10px;
    }

    p{
        font-size: 10px; 
        padding: 18px;
    }

    .comment-date{
        font-size: 10px;
    }
/*ícones dos comentários*/

    .material-icons {
        color: #666;
        position: relative;
        left: 75%;
        padding: 4px;
    }

    .div-btn {

        position: relative;
        left: -1%;

    }

    /*botão do form1*/
    .button {
        margin: 1%;

        border-radius: 8px;
        position: relative;
        left: -2%;
        width: 50%;
        cursor: pointer;
        border: none
    }

    .div-btn {
        width: 90%;
        margin: 3%;
        display: flex;

    }

    /*form2*/
    .form2 {

        border-radius: 8px;
        padding: 14px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-top: 5%;
        height: 100%;
        width: 100%;
        position: relative;
        left: -12%;
        flex-direction: column;
    }

    /*botão do form2*/
    .fa.fa-mail-reply {
        font-size: 7px;
        font-family: "Montserrat", sans-serif;
        width: 1000px;
        position: relative;
        left: 3%;
    }

    .btn {
        width: 40% !important;
        height: 27px !important;
        position: relative;
        left: 2% !important;
    }

}