
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}

/*Header*/
header {
    background-color: #86beda;
    display: flex;
    color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    gap: 10%;
    align-items: center;
}

/*body*/

body{
    background-color: rgb(197,241,214);
    background: linear-gradient(0deg, rgba(197,241,214,1) 0%, rgba(208,229,241,1) 100%);
}

/*nome*/
header .nome {
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    color: #0f4966
}

/*barra de pesquisa*/
#Busca {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
#Busca input {
    border-radius: 10px;
    border: none;
    padding: 8px;
    margin-right: 0px;
}
#btnBusca{
    height: 30px;
    margin-right: 5px;
}
button{
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 20px;
    background-color: #aeeec3;
    opacity: 50%; 
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
  background-color: #0f4966;
}

/*Navegação*/
.nav ul {
    display: flex;
    list-style: none;
    margin-top: 20;
    background-color: #aeeec3;
    height: 35px;
    display: flex;
    justify-content: center;
}

.nav ul li {
    background-color: #7ee6d8;
    margin: 0 50px;
    padding: 5px;
    height: 25px;
    margin-top: 6px;
    border-radius: 9px;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.nav ul li a:hover {
    background-color: #8af1f1;
    transition: 2s;
    margin-top: 5px;
    border-radius: 9px;
    margin: 0 50px;
    padding: 5px;
    height: 14px;
}
/*logo*/
.logo {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80%;
    height: auto;

}

/*teste video*/
.container { 
    background-image: url("../img/teste\ v.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 colunas de tamanho igual */
    gap: 100%; /* Espaçamento entre colunas */
    background-color: aquamarine;
    height: 600px;
}
.video-background {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1; /* Coloca o vídeo atrás do conteúdo */
        transform: translate(-50%, -50%);
        object-fit: cover; /* Cobre toda a área */
}
.content {
    z-index: -1;
}
.nome-video{
 text-align: center;
 font-size: 1.5em;
 color:white;
margin-top:570px;
}

/*imagens centrais*/

.imgtxt1 {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagem1 {
    border-radius: 70px;
    height: 390px;

}
.texto1 p {
    text-align: left;
    margin-left: 15%;
    max-width: 1000px;
}

.imgtxt2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagem2 {
    border-radius: 70px;
    height: 390px;
}
.texto2 p {
    text-align: right;
    margin-right: 15%;
    max-width: 1000px;
}

.imgtxt3 {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagem3 {
    border-radius: 70px;
    height: 390px;
}
.texto3 {
    text-align: left;
    margin-left: 15%;
    max-width: 1000px;
}

.imgtxt4 {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagem4 {
    border-radius: 70px;
    height: 390px;
}
.texto4 {
    text-align: right;
    margin-right: 15%;
    max-width: 1000px;
}

/*Carrocel de imagens*/
h2 {
    margin-top: 300px;
    text-align: center;
}

div.scroll-container {
    background-color: #86beda;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

div.scroll-container img {
    padding: 10px;
    display: inline-block;
    width: 300px;
    height: 200px;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5a5a5a;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}
/*Icones*/
.icons img {
    width: 20px; /* Define a largura do ícone */
    height: 20px; /* Mantém a proporção */
    margin: 0 10px; /* Espaçamento entre os ícones */
}
.icons img:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}

@media (max-widht: 600px){
   
}
