* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.container img {
    position: absolute;
    background-size: cover;
    width: 100%;
    filter: brightness(50%);
    z-index: -100;
}

aside {
    background-color: #c3ebd2;
    position: fixed;
    border: 20px solid #47a598;
    margin-left: 2%;
    width: 20%;
    height: 60%;
    border-radius: 30px;
    padding: 1%;
}

h3 {
    font-family: monospace;
    font-size: 25px; 
    margin-bottom: 60px;
}


aside ul li {
    list-style-type: none;
}

.historico-cel {
    display: none;
}

main {
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}


#video {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

form {
    width: 100%;
    height: 24%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#label-tradução {
    scroll-margin-top: 30px;
    font-size: 26px;
    color: #645b62;

}

textarea {
    width: 100%;
    height: 50%;
    padding: 3%;
    border: 2px solid #0f4966;
    /* Borda de 2 pixels, sólida e azul */
    border-radius: 10px;
    /* Bordas arredondadas */
    margin: 10px 0;
    /* Margem superior e inferior */
}

#botao {
    width: 40%;
    height: 30%;
    justify-content: center;
    position: relative;
    text-align: center;
    left: 25%;
    cursor: pointer;
    border: 4px solid rgb(191, 218, 243);
    color: #000000;
    background-color: #47a598;
    border-radius: 10px;
}

#botao:hover {
    background-color: #1b6e97;
}

#name {
    font-size: 50px;
    /* Aumenta o tamanho da fonte */
    padding: 10px;
    /* Aumenta o espaçamento interno */
    width: 250px;
    /* Largura do campo */
    margin-bottom: 10px;
    /* Espaçamento abaixo do campo */
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5a5a5a;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

@media (max-width: 480px) {

    main {
        background-color: aliceblue; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 90vh;
    }


    aside {
        display: none;

    }

    .historico-cel {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .dropbtn {
        background-color: #47a598;
        color: rgb(0, 0, 0);
        padding: 20px;
        font-size: 15px;
        border: none;
        cursor: pointer;
        width: 200px;
        height: 20px;
        margin: 5%;
        border: 2px solid rgb(191, 218, 243);
        border-radius: 10px;
        /* Bordas arredondadas */

    }

    .btn-tradutor:hover {
        background-color: #1b6e97; 
    }



    /* O contêiner <div> - necessário para posicionar o conteúdo do menu suspenso */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Conteúdo suspenso (oculto por padrão) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #47a598;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-top: -90%;
        border-radius: 10px;
    }

    /* Links dentro do menu suspenso */
    .dropdown-content li {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

    }

    /* Muda a cor dos links suspensos ao passar o mouse */
    .dropdown-content li:hover {
        background-color: #f1f1f1
    }

    /* Mostra o menu suspenso ao passar o mouse */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Altera a cor de fundo do botão suspenso quando o conteúdo do menu suspenso é mostrado */
    .dropdown:hover .dropbtn {
        background-color: #86beda;
    }

    #botao {
        width: 70%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        border: 4px solid rgb(191, 218, 243);
        border-bottom: auto rgb (191, 218, 243);
        /* Borda de 4 pixels, sólida e azul */
        border-radius: 10px;
        /* Bordas arredondadas */
        color: rgb(0, 0, 0)
    }

    #video {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    label {
        margin-top: 200px;
    }

    form {
        width: 75%;
        height: 30%;
        margin-left: 40px;
    }

    #botao {
        width: 50%;
        height: 40%;

    }
}