* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #86beda;
    display: flex;
    grid-template-columns: 30fr 10fr;
    color: rgb(0, 0, 0);
    height: 90px;
    width: 100%;
}

.nav ul {
    display: flex;
    list-style: none;
    margin-top: 20;
    background-color: #aeeec3;
    height: 35px;
    display: flex;
    justify-content: center;
}

.nav ul li {
    background-color: #7ee6d8;
    margin: 0 50px;
    padding: 5px;
    height: 14px;
    margin-top: 5px;
    border-radius: 9px;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav ul li a:hover {
    background-color: #8af1f1;
    transition: 2s;
    margin-top: 5px;
    border-radius: 9px;
    margin: 0 50px;
    padding: 5px;
    height: 14px;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5a5a5a;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* Estilização dos elementos*/
body {
    background-color: #d2e8f3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

h1,
h2,
h3 {
    text-align: center;
    font-size: larger;
}


p {
    text-align: center;
    font-size: 100%;
}

main {
    display: flex;
    justify-content: space-around;

}

/*Estilização dos cards*/
.missao,
.valores {
    background-color: #7ee6d8;
    color: black;
    padding: 5%;
    margin: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.visao {
    background-color: #86beda;
    color: black;
    padding: 5%;
    margin: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;

}


.valores:hover,
.missao:hover {
    background-color: #108172c7;
    color: white;

}

.visao:hover {
    background-color: #1680b6ab;
    color: white;
}

.missao img {
    width: 20%;
    height: auto;
}

.visao img {
    width: 20%;
    height: auto;
}


.valores img {
    width: 20%;
    height: auto;
}

/* Estilização da Seção sobre*/

.sobre {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

/* Estilizando a seção sobre por completo */

.sobre h1 {
    font-size: 50px;
}

/* Estlizando a classe específica do quadro sobre */
.sobre-text {
    background-color: #b9e0f3;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    width: 60%;
    height: 60%;
    padding: 5%;
}

.sobre-text p {
    text-align: justify;
    /* Justificando o texto */
}

.sobre-text:hover {
    background-color: #86beda;
    color: rgba(255, 255, 255, 0.712);
    /* Hover no quadro Sobre */
}

/* Estilização das fotos e texto das integrantes*/
.fotos {
    display: flex;
    justify-content: space-around;
}

.card-foto {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-foto img {
    width: 70%;
    margin-bottom: 5%;

}

.fotos img {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.fotos img:hover {
    box-shadow: 2px 2px 2px #889399;
    border-bottom: #889399;
}

.foto,
p {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Responsividade para telas menores (celular) */
@media (max-width:780px) {

    .missao,
    .visao,
    .valores {
        width: 200%;
        height: auto;
    }

    .sobre-text {
        background-color: #b9e0f3;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 5px;
        width: 80%;
        height: 70%;
        padding: 5%;
    }

    .sobre {
        display: flex;
        flex-direction: row;
        padding: 2%;
    }

    .sobre h1 {
        
        font-size: 30px;

    }

    .fotos {
        width: 200%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}