* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilização dos elementos*/
body {
    background: rgb(220, 255, 233);
    background: linear-gradient(0deg, rgba(220, 255, 233, 1) 24%, rgba(206, 247, 255, 1) 66%);
}

.container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container img {
    position: absolute;
    background-size: cover;
    width: 100%;
    filter: brightness(45%);
    z-index: -100;
}



.missao h2,
.valores h2,
.visao h2{
    font-size: 36px;
}
.missao p,
.valores p,
.visao p{
    font-size: 18px;
}
.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: -5%;
   
}

.sobre h1 {
    color: white;
    font-size: 50px;

}
.sobre p{
    font-size: 20px;
}
/* Estlizando a classe específica do quadro sobre */
.sobre-text {
    width: 50%;
    
    color: white;
}

/*Estilização dos cards de texto (missão, visão, valores)*/
.missao,
.valores,
.visao {
    background-color: #a2dbf1;
    color: black;
    width: 30%;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    

}

.cards-texto {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.missao:hover,
.visao:hover,
.valores:hover {
    background-color: #419ac4;
}
.missao div,
.visao div,
.valores div {
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  
    
}

.missao div img,
.visao div img,
.valores div img {
    width: 150px;
    height: auto;
    padding: 5%;

}

/* Estilização da Seção sobre*/


/*Estilizando os cards com as fotos e texto-fala das integrantes */
.fotos {
    display: flex;
    justify-content: space-around;

}

.card-foto {
    position: relative;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fotos img {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    width: 70%;
    height: 70%;
}

.foto,
p {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Transição de texto*/
.card-foto img {
    margin-bottom: 5%;
    display: block;

}

.botao {
    background-color: #a2dbf1;
    display: none;
}

/* Card do texto-fala das integrantes*/
.overlay {
    position: absolute;
    bottom: 90%;
    background-color: #a2dbf1;
    overflow: hidden;
    transition: .3s ease;
    border-radius: 40px;
    width: 100%;
    height: auto;

}

.card-foto:hover .overlay {
    margin-bottom: 5%;
    bottom: 0;
    height: 90%;
    width: 80%;
}

/*texto-fala das integrantes*/
.texto1,
.texto2,
.texto3,
.texto4,
.texto5 {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    /*transform: Essa propriedade permite aplicar transformações a um elemento, como translações, rotações e escalonamentos.
    translate(-50%, -50%): Essa função de transformação move o elemento*/
    -ms-transform: translate(-50%, -50%);
    /*(-webkit- e -ms-): Esses prefixos são usados para garantir compatibilidade com navegadores mais antigos (como versões antigas do Safari e do Internet Explorer)*/
    transform: translate(-50%, -50%);
    font-size: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 2%;


}

/* Responsividade para telas menores (celular) */
@media (max-width: 480px) {
    main {
        flex-direction: column-reverse;
    }

    .container {
        margin-top: 35px;
    }

    /*Cards de texto*/
    .missao,
    .visao,
    .valores {
        width: 100%;
        height: 50%;
        margin-top: 2%;
        padding: 5%;
    }

    .cards-texto {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .sobre-text {
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 5px;
        width: 95%;
        height: auto;
        margin-bottom: 0;
    }

    .sobre {
        padding: 2%;
    }

    .sobre h1 {
        font-size: 30px;
        margin-bottom: 5%;
    }

    /*Cards de fotos e texto*/
    .fotos {
        height: auto;
        flex-direction: column;

    }

    .botao {
        margin-left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 30%;
        height: 30%;
        margin-bottom: 3%;
        border-radius: 10px;

    }

    .card-foto {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .card-foto img {
        padding: 5%;
        width: 50%;
        height: auto;


    }


    .texto1,
    .texto2,
    .texto3,
    .texto4,
    .texto5 {
        color: black;
        font-size: 100%;
        height: auto;
        text-align: center;
        padding: 2%;
        display: none;
        width: 90%;
        height: auto;
        text-align: center;
        text-decoration: none !important;

    }

    .card-foto:hover .overlay {
        display: none;

    }

    .overlay {
        position: absolute;
        right: 0;
        width: 50%;

    }

    /* Estilo para o efeito ativado ao clicar */
    .card-foto.ativo .overlay {
        margin-bottom: 5%;
        bottom: 0;
        height: 90%;
        width: 50%;

    }

    .texto1.ativo,
    .texto2.ativo,
    .texto3.ativo,
    .texto4.ativo,
    .texto5.ativo {
        text-decoration: none !important;
        display: block;
        /* Quando o card estiver "ativo", os textos ficam visíveis */

    }

}