
aside{
    background-color: rgb(238, 241, 243);
    position:fixed; 
    width:12%;
    height:50%;
    margin-top:5%;
    border-radius:5% ;
    padding: 5%;
   
    
}
aside ul li { 
list-style-type: none;
}
main{
    
    background-color: rgb(255, 249, 249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.tela{
    background-color: rgb(227, 243, 243);
    width: 20%;
    height: 45%;
    border-radius: 5%;
}

form{
    width: 30%;
    height: 12%;
}


textarea{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(184, 205, 224); /* Borda de 2 pixels, sólida e azul */
    border-radius: 10px;     /* Bordas arredondadas */
    margin: 10px 0;        /* Margem superior e inferior */
}
.btn-tradutor{
 width: 30%;  

 text-align: center;
 cursor: pointer;
 border: 4px solid rgb(191, 218, 243); /* Borda de 4 pixels, sólida e azul */
 border-radius: 10px;     /* Bordas arredondadas */
 color: rgb(6, 31, 54)
}
.btn-tradutor:hover{ 
    background-color: #c1fcc9;
}



footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5a5a5a;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
} 