*{
    margin: 0;
    padding: 0;

}
header{
     background-color: #86beda;
     display: flex;
    grid-template-columns: 30fr 10fr; 
    color: rgb(0, 0, 0);
    height: 90px;
    width: 100%;
}

.nav ul {
    display: flex;
    list-style: none;
    margin-top: 20; 
    background-color: #aeeec3;
    height: 35px;
    display: flex;
    justify-content: center;
}

.nav ul li {
   background-color: #86beda;
    margin: 0 50px;
    padding: 5px;
    height: 14px;
    margin-top: 5px;
    border-radius: 9px;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.nav ul li a:hover {
    background-color: #8af1f1;
    transition: 2s;
    margin-top: 5px;
    border-radius: 9px;
    margin: 0 50px;
    padding: 5px;
    height: 14px;
}
.grid-informaçao{
margin: 5%;
width: 50%;
height: 1px;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #86beda;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

form {
    background-color: #ffffff;
    padding: 70px;
    height: 275px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 27%;
    margin: 0 auto;
   
}
.sidebar {
    background-color: #ffffff;
    display: flex;
    padding: 70px;
    height: 275px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin: 0 auto;
  
}
.titulo {
    padding: 2px;
    height: 100px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]
{
    padding: 1009px;
    height: 100px;
    width: 70%;
    border: 1px solid #ff0000;
    border-radius: 4px;
}
